<h1>Task's Details</h1>
<h1> <%= @task.title %></h1>

<p><%= @task.details %></p>
<p><input type="checkbox" id="task-done" name="task">
<%=  %>This task is completed</p>
<p><%= link_to "All Tasks", tasks_path %></p>
